.container {
	max-width: 970px;
}
#topbar {
	/*margin: 15px 0*/;
	background: #fff;
	overflow: hidden;
	padding: 15px 0;
	zoom:1;
	height: 69px;
	/*box-sizing:border-box;*/
}
#topbar .brand {
	font-size: 26px;
	color: #999;
	display: block;
	text-decoration: none;
}
#topbar .brand img {
	position: relative;
	top:-8px;
}
#site-name {
	margin-left: 8px;
	padding-left: 10px;
	border-left: 2px solid #ddd;
}
#slideshow {
	background: #000;
}
.carousel-label {
	padding: 7px;
	background: rgba(0,0,0,0.60);
	position: absolute;
	left: 0;
	bottom: 30px;
	display: block;
	text-decoration: none;
}
.carousel-label:hover {
	text-decoration: none;
}
.carousel-label .title {
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 5px;
	color: #fff;
}
.carousel-label .description {
	font-size: 24px;
	color: #aaa;
}
#actions {
	margin-top: 40px;
}
#actions .action {
	padding: 14px;
	background: url(../img/bg-stripe.jpg) #e7e7e7;
	display: block;
	font-size: 24px;
	color: #444;
	text-decoration: none;
	border-left: 3px solid #333;
	position: relative;
	margin-bottom: 10px;
}
#actions .go {
	font-size: 22px;
	font-weight: bold;
	padding: 3px 10px;
	background: #444;
	color: #fff;
	border-radius: 5px;
	position: absolute;
	top:12px;
	right: 20px;
}
/*#stories {
	margin-top: 10px;
}*/
#stories h3 {
	font-size: 18px;
	font-weight: normal;
	border-bottom: solid 4px #111;
	padding-bottom: 7px;
	margin-bottom: 20px;
}
#stories .story-item {
	display: block;
	text-decoration: none;
	margin-bottom: 30px;
	height: 280px;
	/*text-align: center;*/
}
.story-item img {
	width: 100%;
	
	border:1px solid #aaa;
}
.story-item .title {
	color: #000;
	font-size: 17px;
	line-height: 32px;
}
.story-item .description {
	color: #999;
}
.story-item .icon-play {
	color: #fff;
	background: #b7b7b7;
	border-radius: 3px;
	padding: 1px 3px;
	margin-left: 10px;
}
#footer {
	text-align: center;
	padding: 7px 0;
	background: #f7f7f7;
	/*margin-top: 30px;*/
}
#footer .icp {
	color: #000;
}
.story-title {
	text-align: center;
	margin-bottom: 20px;
	font-weight: normal;
}
.story-content {
	font-size: 15px;
	padding: 20px;
	background: #fff;
}
.story-video {
	margin-bottom: 25px;
}
.story-text {
	line-height: 2.0;
}
.story-text img {
	max-width: 100%;
}
.jiathis_style > div {
	box-sizing: content-box !important;
}
#stories{
	margin-bottom: 30px;
}

/*lightBox*/
.page-container{
    width: 100%;
    height: 100%;
    background-color: #717e8c;
    position: relative;
    overflow: hidden;
}
.arrow-left, .arrow-right{
    width: 73px;
    height: 73px;
    display: block;
    position: absolute;
    z-index: 1;
    top:50%;
    margin-top: -36px;
}
.arrow-left{
    left:8px;
    background: url("../img/arr_left.png") no-repeat;
}
.arrow-right{
    right: 8px;
    background: url("../img/arr_right.png") no-repeat;
}
.lightBox-container{
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    width: 100%;
}
.lightBox {
    position: relative;
    height: 100%;
    width: 5000em;
}
.img-box{
    position: relative;
    width: 100%;
    top: -50%;
    margin: 0 auto;
}
.box-middle{
    position: static;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.lightBox-content{
    float:left;
    position: static;
    display: table;
    background: #000;
}
.box-middle p{
    display: none;
}
.lightBox-description-container{
    position: absolute;
    width: 100%;
    overflow: hidden;
    color: #FFF;
    bottom: 0;

}
.pic-desc{
    position: relative;
    width: 85%;
    margin: 0 auto;
    overflow: hidden;
    
}
.detail{
	min-height: 55px;
    line-height: 24px;
    padding: 0 60px;
    width: 75%;
    float: left;
}
.lightBox-description-container .button{
    width: 58px;
    height: 55px;
    line-height: 85px;
    text-align: center;
    overflow: hidden;
    color: #FFF;
    font-family: '宋体';
    font-size: 12px;
}
.lightBox-description-container .open{
    float: right;
    background: url("../img/arrow_up.png") left top no-repeat;
    /*display: none;*/

}
.lightBox-description-container .close-btn{
    background: url("../img/arr_down.png") left top no-repeat;
    display: block;
    position: absolute;
    right: 0;
    top:0;
    z-index: 110
}
.pic-desc-box{
    position: relative;
    width: 100%;
    overflow:hidden;
    background: rgba(0,0,0,0.6);
    /*filter: progid:DXImageTransform.Microsoft.gradient( GradientType = 0,startColorstr = "#600000",endColorstr = "#600000");*/
}
.open-btn-box{
    width: 85%;
    margin: 0 auto;
    overflow: hidden;
    display: none;
}
.text-content-container {
	height: 90%;
	width: 80%;
	margin: 2% auto 5% auto;
	background: #fff;
	padding: 38px 50px;
	overflow:hidden;

}
.text-content{
	width: 100%;
	height: 95%;
	overflow: auto;
}
.text-content p{
	text-indent: 2em;
}
.last-item{
	background: #f5f5f5 !important; 
}
.page-nav{
	height: 40px;
	line-height: 40px;
}
.page-num{
	position: relative;
	width: 78px;
	height: 55px;
	float: left;
	background: url(http://mat1.gtimg.com/news/ninja/live/page_num.png) left top no-repeat;
}
.page-num .curr-num {
	position: absolute;
	text-align: right;
	width: 38px;
	top: 0;
	left: 0;
	font-size: 36px;
	color: #FFF;
}
.total-num {
	position: absolute;
	bottom: 10px;
	left: 43px;
	font-family: Georgia;
	font-size: 12px;
	color: #FFF;
}
.arrow-right, .arrow-left{
	cursor: pointer;
}
.tips{
	width: 240px;
	height: 36px;
	position: absolute;
	z-index: 9999;
	background: #000;
	/*opacity: 0.8;
	filter:alpha(opacity=80);*/
	top:50%;
	left: 50%;
	margin-left: -120px;
	margin-top: -18px;
	border-radius: 5px;
	

}
.tips p{
	text-align: center;
	color:#333;
	height: 36px;
	line-height: 36px;
	color:#fff;
}
.video-content{
	position: relative;
	overflow: hidden;
	
	/*background: #fff !important;*/
}
.video-box{
	width: 800px;
	height: 600px;
	margin: 0 auto;
    margin-left: -400px;
    left: 50%;
    top:50%;
    margin-top: -250px;
	position: absolute;

}
/*首页的slide*/
.slide-inner{
	width: 900px;
    height: 400px;
    margin: 0 auto;
    position: relative;
    display:none;
}
.slide-inner .item{
    display: block;
    position: absolute;
    z-index: 10;
    zoom: 1;
}
.slide-inner a{
    overflow: hidden;
}
.slide-container{
	background: #000;
	width: 940px;
	height: 400px;
	margin: 0 auto;

	position: relative;
}
.slide-container .carousel-control{
	z-index: 1000;
}
#stories h3{
	text-align: right;
	font-size: 36px;
	height: 64px;
	margin-top: 0;
}
#stories h3 a{
	color: #000;
	padding: 8px  6px  8px 36px;
	border:1px solid #000;
	border-radius: 3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	font-size: 18px;
	text-align: left;

    background: url("../img/iconfont-user.png") 8px center no-repeat;

}
.page-nav a{
	color:#eea236;
}
@media (max-width: 414px) {
	#actions .action{
		font-size: 18px;
	}
	#stories .story-item{
   	height: 100%;
   }
}
@media(max-width: 767px){
   #stories .story-item{
   	height: auto;
   }
}
  }
